{% for i in name %}
welcome {{ i }} to learn jinja
{% endfor %}


# if true will print, if false won't print
{% if false %}
print hello
{% endif %}


{% for ip in  groups.myweb %}
my web server is {{ ip }}
{% endfor %}
